*,*::before,*::after {
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #000;
    background-image: url("images/bg-stars.svg");
    background-repeat: no-repeat;
    background-position: center center;
    
}